<configuration>
    <system.webServer>
        <handlers>
            <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform processPath="C:\Program Files\Python313\python.exe" arguments="manage.py runserver 0.0.0.0:8000" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" />
    </httpPlatform>
    </system.webServer>
</configuration>