/* ================================
   LIGHT MODE
================================ */

body.light {
    --surface-bg: #ffffff;
    --surface-muted-bg: #f9fafb;
    --surface-text: #111827;

    --text-muted: #6b7280;
    --text-strong: #111827;

    --border-muted: #e5e7eb;

    --primary: var(--company-primary, #2563eb);
    --primary-text: #ffffff;
    --primary-hover: #2563eb;
    --primary-text-hover: #ffffff;

    --secondary: var(--company-secondary, #6b7280);
    --secondary-text: #ffffff;
    --secondary-hover: #6b7280;
    --secondary-text-hover: #ffffff;

    --danger: var(--company-danger, #ee0808);
    --danger-text: #c2bcb5;
    --danger-hover: #b81a1a;
    --danger-text-hover: #aca4a4;

    --caution: #aca4a4;
    --caution-text: #b81a1a;
    --caution-hover: #4b4742;
    --caution-text-hover: #ee0808;

    --save: #46ad46;
    --save-text: #ffffff;
    --save-hover: #21cc21;
    --save-text-hover: #ffffff;

    --nav: #6b7280;
    --nav-text: #ffffff;
    --nav-hover: #6b7280;
    --nav-text-hover: #ffffff;

    background-color: #f9fafb;
    color: #111827;
}