{% extends 'training/training_base.html' %}
{% load static %}
{% load training_filters %}

{% block body %}
<style>
    table {
        background-color: transparent;
    }
    thead {
        background-color: transparent;
    }
    tbody {
        background-color: transparent;
    }
    th {
        background-color: transparent;
        height: 300px;
        position: relative;
        padding: 0;
    }

    /* New styles for rotated headers */
    .rotated-header {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: rotate(-45deg) ;
        transform-origin: left;
        width: 400px; /* Increased width for text */
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px;
    }

    td {
        background-color: transparent;
        border: 1px solid #000;
        text-align: center;
        width: 100px; /* Reduced from 200px since we don't need as much width */
        height: 50px;
    }

    tr {
        background-color: transparent;
    }
</style>


    <div>
        <h1 class="text-2xl font-bold mb-4">Arctic Wolf Training Audit</h1>
        <div style="overflow: auto;"> 
            <table>
                <thead>
                    <tr>
                        <th style="vertical-align: bottom; width: 150px;">Employee</th>
                        {% for course in courses %}
                        <th>
                            <div class="rotated-header">{{ course.name }}</div>
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                <tbody>
                    {% for user_data in audit_data %}
                    <tr>
                        <td>{{ user_data.user.first_name }}&nbsp;{{ user_data.user.last_name }}</td>
                        {% for course in courses %}
                            {% with completed_date=user_data.courses|get_item:course.id %}
                                <td class="{% if completed_date %} bg-green-200 {% else %} bg-red-200 {% endif %}">
                                    {% if completed_date %}
                                        <span class="text-xs block">{{ completed_date|date:"n/j/Y" }}</span>
                                    {% endif %}
                                </td>
                            {% endwith %}
                        {% endfor %}
                    </tr>
                    {% empty %}
                        <tr><td colspan="{% with total_cols=courses|length|add:1 %}{{ total_cols }}{% endwith %}" class="px-4 py-2 text-center">No Arctic Wolf training data available.</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}