{% extends "users/base_template.html" %}

{% block body %}
<main role="main" class="container d-flex justify-content-center" style="min-height: 100vh;">
    <div class="row">
        <div class="col-md-20">
            <div class="content-section p-4 bg-white rounded">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif%}
                {% block content %}{% endblock content %}
            </div>
        </div>
    </div>
</main>
{% endblock body %}