<!doctype html>
{% load static tailwind_tags %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% tailwind_css %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon/favicon.ico' %}">
    {% if title %}
    <title>STATZ Corporation - {{ title }}</title>
    {% else %}
    <title>STATZ Corporation</title>
    {% endif %}
    {% block extra_head %}{% endblock %}
</head>
<body class="bg-white">
    <header class="site-header">
        <nav class="bg-gray-800 p-4">
            <div class="container mx-auto flex items-center justify-between">
                <!-- Left Section: Logo/Image -->
                <div class="flex items-center">
                    <img src="{% static 'images/StatzCorpColorFINAL.png' %}" alt="Logo" class="h-8 w-18 mr-4">
                    <!-- App Links -->
                    <a href="{% url 'index' %}" class="text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                    <a href="{% url 'about' %}" class="text-white px-3 py-2 rounded-md text-sm font-medium">About</a>
                    <a href="{% url 'accesslog:visitor_log' %}" class="text-white px-3 py-2 rounded-md text-sm font-medium">Access Log</a>
                    <a href="{% url 'inventory:dashboard' %}" class="text-white px-3 py-2 rounded-md text-sm font-medium">Inventory</a> 
                    <a href="https://www.salespatriot.com/" class="text-white px-3 py-2 rounded-md text-sm font-medium">Sales Patriot</a>
                </div>
                <!-- Right Section: Username and Sign Out -->
                <div class="flex items-center">
                    {% if user.is_authenticated %}
                    <div class="flex flex-col md:flex-row md:ml-auto">
                        {% if user.is_superuser %}
                            <a href="{% url 'admin:index' %}" class="nav-item nav-link text-white px-3 py-2">{{ user.username }}</a>
                        {% else %}
                            <a href="#" class="nav-item nav-link text-white px-3 py-2">{{ user.username }}</a>
                        {% endif %}
                        
                        <form id="logout-form" method="post" action="{% url 'users:logout' %}" class="inline">
                            {% csrf_token %}
                            <button type="submit" class="nav-link text-white hover:text-gray-200 px-3 py-2">Sign Out</button>
                        </form>
                    </div>
                    {% else %}
                    <div class="flex flex-col md:flex-row md:ml-auto">
                        <a class="nav-link text-white hover:text-gray-200 px-3 py-2" href="{% url 'users:login' %}">Sign In</a>
                        <a class="nav-link text-white hover:text-gray-200 px-3 py-2" href="{% url 'users:register' %}">Sign Up</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
    </header>   
    {% block body %}{% endblock %}
    {% block extra_scripts %}{% endblock %}
</body>
</html> 